@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.5%;
    --foreground: 19 21% 9%;
    --card: 0 0% 100%;
    --card-foreground: 19 21% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 19 21% 9%;
    --primary: 161 61% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 100% 50%;
    --secondary-foreground: 19 21% 9%;
    --muted: 0 0% 87%;
    --muted-foreground: 19 12% 43%;
    --accent: 30 100% 50%;
    --accent-foreground: 19 21% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --success: 120 49% 46%;
    --success-foreground: 0 0% 100%;
    --border: 19 14% 90%;
    --input: 19 14% 90%;
    --ring: 161 61% 23%;
    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
